[Unit]
Description=Ngrok Port Forwarding Service
After=network.target

[Service]
ExecStart=/home/pi/ngrok start chicagomachine
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardInput=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
