[Unit]
Description=Twitch Stream Service
After=network.target

[Service]
ExecStart=/home/pi/start_tw_stream
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardInput=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
